<h3>Thank you for booking a flight with us, <%= @user.name %></h3>
<p>
  Your flight no <%= @flight.id %> from <%= @flight.departure_airport.code %> 
  to <%= @flight.arrival_airport.code %> will leave on <%= @flight.date %> 
  and last <%= @flight.duration / 60 %> hours and 
  <%= @flight.duration % 60 %> minutes.
</p>

</p>
  Thank you for flight with odin airlines!
</p>